<p-toast></p-toast>

<div class="p-grid p-jc-center p-shadow-5">
    <div class="p-col-9">
        <div class="container">
            <p-card class="naruto">
                <div class="p-grid p-jc-center">
                    <div class="p-col-12">
                        <p-carousel class="slides-wrapper" [value]="fotos" [autoplayInterval]="6000" [circular]="true">
                            <ng-template #item let-item let-i="index" let-foto pTemplate="foto">
                                <div>
                                    <img class="items" [src]="foto.name">
                                </div>
                            </ng-template>
                        </p-carousel>
                    </div>
                </div>
            </p-card>

            <div class="card">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                        <a pButton pRipple label="Home" icon="pi pi-home" class="p-button-success p-mr-2" href="http://localhost:4200/" style="text-decoration: none"></a>
                        <a pButton pRipple label="Meus animes" icon="pi pi-list" class="p-button-success p-mr-2" href="http://localhost:4200/animes" style="text-decoration: none"></a>
                        <a pButton pRipple label="Usuarios cadastrados" icon="pi pi-users" class="p-button-success p-mr-2" href="http://localhost:4200/users" style="text-decoration: none"></a>
                    </ng-template>
                </p-toolbar>

                <p-table #dt [value]="animes.data" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['title','year','score', 'episodes', 'type']" [rowHover]="true"
                    dataKey="title" currentPageReportTemplate="Mostrando {first} de {last} de um total de {totalRecords}"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="title">Titulo <p-sortIcon field="title"></p-sortIcon></th>
                            <th pSortableColumn="year">Lançamento <p-sortIcon field="year"></p-sortIcon></th>
                            <th pSortableColumn="score">Nota MAL<p-sortIcon field="score"></p-sortIcon></th>
                            <th pSortableColumn="episodes">Episodios <p-sortIcon field="episodes"></p-sortIcon></th>
                            <th pSortableColumn="type">Tipo <p-sortIcon field="type"></p-sortIcon></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-anime>
                        <tr>
                            <td>{{anime.title}}</td>
                            <td>{{anime.aired.from | date:'dd/MM/yyyy'}}</td>
                            <td>{{anime.score}}</td>
                            <td>{{anime.episodes}}</td>
                            <td>{{anime.type}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-mr-2"
                                    (click)="includeAnime(anime)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            No total, existem {{animes.data ? animes.data.length : 0 }} animes.
                        </div>
                    </ng-template>
                </p-table>
            </div>

            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>
    </div>